
body{
    background-color: grey;
}

#game_canvas{
    border: 1px solid black;
    /* background-color: blue; */

}
/* 
#background_image{
    max-width: 20px !important;
    border: 3px solid red;
} */

#center_zone{
    font: white;
}

#p1_img{
    transform: scaleX(-1);
}