
body{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: grey;
    max-width: 100%;
}

#canvas-container{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 680px;
}

#upload-control-container,
#media-controls-container,
#graphics-controls-container{
    height: 50px;
    padding-top: 4px;
    display: inline-flex;
    justify-content: space-between;
}

#upload-control-container, #media-controls-container{ border-right: 2px solid black; }
#media-controls-container, #graphics-controls-container{ border-left: 2px solid black; }

#upload-text-container{
    display: inline-flex;
    width: 70%;
    text-align: center;
    justify-content: space-evenly;
}


#media-controls-container > .btn{ width: 60px; }

#upload-control-container .btn,
#media-controls-container > .btn,
#graphics-controls-container > .btn{
    height: 40px;
    outline: none;
}


.icon-div{
    height: 100%;
    font-size: 30px;
}
.icon-div > p{
    position: relative;
    top: -9px;
}

#vs-text-container{
    padding-top: 10px;
    cursor: context-menu;
    margin-left: 10px;
    margin-right: 10px;
}

#p1-text-container, #p2-text-container{
    /* border: 2px solid #00ff00; */
    padding: 0 10 20 10;
    cursor: pointer;
    height: 50px;
}

#p1-name, #p2-name, #p1-code, #p2-code{ display: inline; }
#p1-name, #p2-name{ font-size: 20px; }
#p1-code, #p2-code{ font-size: 12px; }

#upload-btn-container{ width: 13.5%; }
#upload-btn{ margin-bottom: 5px; }